.sideTitle {
	height: 30px; line-height: 28px; overflow: hidden; padding-left: 10px; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.sideTitle .time {
	top: 6px; right: 2px; color: rgb(153, 153, 153); line-height: 16px; font-size: 10px; font-weight: 100; position: absolute; z-index: 10;
}
.sideTitle .time b {
	background: url("../image/timeBg.gif") no-repeat left top; width: 19px; height: 17px; text-align: center; color: rgb(255, 255, 255); overflow: hidden; display: inline-block;
}
.sideTitle .time span {
	padding: 0px 2px; height: 17px; overflow: hidden; display: inline-block;
}
.sideClass {
	margin-bottom: 15px; min-height: 135px; _height: 165px;
}
.sideClass .list {
	padding-top: 10px;
}
.sideClass li {
	width: 90px; height: 41px; overflow: hidden; padding-left: 7px; float: left;
}
.sideClass li a {
	padding: 0px 6px; width: 78px; height: 28px; line-height: 28px; overflow: hidden; float: left; display: block;
}
.sideClass li a:hover {
	background: rgb(125, 64, 193); color: rgb(255, 255, 255);
}
.sideClass li .aNow {
	background: rgb(125, 64, 193); color: rgb(255, 255, 255);
}
.sideHot li {
	width: 129px; height: 66px; overflow: hidden; padding-left: 70px; float: left; position: relative;
}
.sideHot .imgDiv {
	border: 1px solid rgb(204, 204, 204); border-image: none; left: 7px; top: 3px; position: absolute; z-index: 1;
}
.sideHot .imgDiv img {
	width: 54px; height: 54px;
}
.sideHot .ico {
	top: 3px; right: 0px; position: absolute; z-index: 1;
}
.sideHot .name {
	padding: 6px 0px 3px; width: 100px; height: 2.5em; overflow: hidden; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.sideHot .bigImg {
	display: none;
}
.sideHot .name1 {
	display: none;
}
.sideHot .liNow {
	padding: 0px 12px; width: 175px; height: 243px;
}
.sideHot .liNow .imgDiv {
	display: none;
}
.sideHot .liNow .name {
	display: none;
}
.sideHot .liNow .bigImg {
	height: 175px; text-align: center; overflow: hidden; padding-top: 15px; display: block;
}
.sideHot .liNow .ico {
	top: 0px;
}
.sideHot .liNow .name1 {
	padding-top: 3px; display: block;
}
.sideHistory {
	padding-top: 5px;
}
.sideHistory li {
	width: 129px; height: 66px; overflow: hidden; padding-left: 70px; float: left; position: relative;
}
.sideHistory .imgDiv {
	border: 1px solid rgb(204, 204, 204); border-image: none; left: 7px; top: 3px; position: absolute; z-index: 1;
}
.sideHistory .imgDiv img {
	width: 54px; height: 54px;
}
.sideHistory .ico {
	top: 3px; right: 0px; position: absolute; z-index: 1;
}
.sideHistory .name {
	padding: 6px 0px 3px; height: 2.5em; overflow: hidden; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.sideHistory2 li {
	padding: 5px 13px; height: 202px; overflow: hidden;
}
.sideHistory2 .imgDiv {
	height: 135px; text-align: center; overflow: hidden;
}
.sideHistory2 .imgDiv img {
	border: 1px solid rgb(225, 225, 225); border-image: none;
}
.sideHistory2 .price {
	font-size: 16px; float: left;
}
.sideHistory2 .name {
	padding-bottom: 6px;
}
.sideHistory2 .num {
	padding-top: 3px; float: right;
}
.sideHistory2 .btn {
	background: url("../image/SequenceBg1.gif") repeat-x top; border: 1px solid rgb(225, 225, 225); border-image: none; width: 84px; height: 21px; text-align: center; line-height: 20px; float: right; display: block;
}
.classRecommend {
	margin-bottom: 15px; border-top-color:#e87717; border-top-width: 2px; border-top-style: solid; min-height: 165px; _height: 165px;
}
.classRecommend .sideTitle {
	color:#e87717;
}
.classRecommend li {
	padding: 0px 0px 0px 130px; width: 165px; height: 134px; overflow: hidden; float: left; position: relative;
}
.classRecommend .imgDiv {
	left: 6px; top: 6px; position: absolute; z-index: 10;
}
.classRecommend .name {
	padding: 25px 0px 0px; height: 32px; line-height: 16px; overflow: hidden;
}
.classRecommend .name .red {
	height: 1.6em;
}
.classRecommend .price {
	padding: 6px 0px;
}
.classRecommend .price b {
	font-family: Arial; font-size: 20px;
}
.classRecommend .btn {
	background: url("../image/btn2.gif") repeat-x top; width: 108px; height: 26px; text-align: center; color: rgb(255, 255, 255); line-height: 26px; overflow: hidden; font-size: 14px; font-weight: bold; display: block;
}
.classSearch {
	line-height: 16px; border-top-color: rgb(125, 64, 193); border-top-width: 2px; border-top-style: solid; min-height: 165px; _height: 165px;
}
.classSearch .sideTitle span {
	font-weight: 100;
}
.classSearch .name {
	left: 14px; color: rgb(141, 140, 140); white-space: nowrap; position: absolute; z-index: 1;
}
.classSearch a {
	color: rgb(66, 116, 177);
}
.classSearch .div0 {
	background: rgb(247, 251, 255); padding: 6px 0px 0px 92px; overflow: hidden; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: solid; position: relative; min-height: 30px; _height: 30px;
}
.classSearch .div0 .name {
	top: 9px;
}
.classSearch .div0 li {
	background: url("../image/close.gif") no-repeat right rgb(255, 255, 255); border: 1px solid rgb(255, 122, 14); border-image: none; height: 21px; color: rgb(19, 81, 158); line-height: 21px; margin-right: 5px; margin-bottom: 6px; float: left; white-space: nowrap; cursor: pointer;
}
.classSearch .div0 li a {
	background: url("../image/close.gif") no-repeat right rgb(255, 255, 255); padding: 0px 26px 0px 6px;
}
.classSearch .list {
	padding: 0px 10px;
}
.classSearch .list li {
	background: url("../image/line1.gif") repeat-x top; width: 866px; padding-top: 10px; float: left; display: none; position: relative; min-height: 26px; _height: 26px;
}
.classSearch .list .name {
	left: 4px; top: 10px;
}
.classSearch .list .more {
	background: url("../image/ico10.gif") no-repeat 4px rgb(243, 248, 255); padding: 0px 4px 0px 16px; border: 1px solid rgb(201, 216, 236); border-image: none; top: 8px; height: 17px; right: 0px; overflow: hidden; display: block; white-space: nowrap; position: absolute; z-index: 10;
}
.classSearch .list .a1 {
	background: rgb(125, 64, 193); left: 56px; top: 10px; color: rgb(255, 255, 255); position: absolute; z-index: 1;
}
.classSearch .list .li_01 .content {
	padding-left: 56px;
}
.classSearch .content {
	padding-left: 100px;
}
.classSearch .content a {
	padding: 0px 5px; height: 16px; overflow: hidden; margin-right: 45px; margin-bottom: 10px; display: inline-block;
}
.classSearch .content .aNow {
	background: url("../image/close1.gif") no-repeat right top rgb(125, 64, 193); color: rgb(255, 255, 255); padding-right: 21px; margin-right: 29px;
}
.classSearchMore {
	background: url("../image/classMore.gif") no-repeat 0px 0px; height: 24px; text-align: center; line-height: 23px; overflow: hidden; margin-bottom: 20px; cursor: pointer;
}
.classSearchMoreNow {
	background-position: 0px -24px;
}
.Sequence {
	background: url("../image/Sequence.gif") repeat-x left bottom rgb(249, 249, 249); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(225, 225, 225); padding: 0px 11px; border-image: none; height: 45px; overflow: hidden;
}
.Sequence .list {
	background: url("../image/line1.gif") repeat-x left 40px; padding: 8px 0px 0px; height: 40px; overflow: hidden; position: relative;
}
.Sequence .list li {
	line-height: 25px; padding-right: 15px; float: left;
}
.Sequence .li_01 a {
	background: url("../image/SequenceBg1.gif") repeat-x top; padding: 0px 16px; border: 1px solid rgb(225, 225, 225); border-image: none; height: 23px; line-height: 22px; overflow: hidden; margin-right: 4px; float: left; display: block;
}
.Sequence .li_01 span {
	background: url("../image/ico11.gif") no-repeat right; padding-right: 14px;
}
.Sequence .li_01 .aNow {
	background: rgb(255, 255, 255); border: 1px solid rgb(125, 64, 193); border-image: none; color: rgb(125, 64, 193); font-weight: bold;
}
.Sequence .li_01 .aNow span {
	background: url("../image/ico11Hover.gif") no-repeat right;
}
.Sequence .li_01 .aNow1 {
	background: rgb(255, 255, 255); border: 1px solid rgb(61, 126, 216); border-image: none; color: rgb(61, 126, 216); font-weight: bold;
}
.Sequence .li_01 .aNow1 span {
	background: url("../image/ico11Hover12.gif") no-repeat right;
}
.Sequence .li_02 .a4 {
	background: url("../image/ico11Hover12.gif") no-repeat center;
}
.Sequence .li_02 .a3 {
	background: url("../image/ico11Hover1.gif") no-repeat center;
}
.Sequence .li_02 {
	height: 25px; overflow: hidden; border-left-color: rgb(225, 225, 225); border-left-width: 1px; border-left-style: solid;
}
.Sequence .li_02 div {
	background: url("../image/SequenceBg1.gif") repeat-x top; border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(225, 225, 225); padding: 0px 6px; border-image: none; height: 23px; line-height: 23px; overflow: hidden; float: left;
}
.Sequence .li_02 .input1 {
	border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(225, 225, 225); padding: 0px 4px; border-image: none; width: 38px; height: 23px; line-height: 23px; float: left;
}
.Sequence .li_02 a {
	border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(225, 225, 225); border-image: none; width: 21px; height: 23px; overflow: hidden; float: left; display: block;
}
.Sequence .li_02 .a1 {
	background: url("../image/ico11.gif") no-repeat center;
}
.Sequence .li_02 .a2 {
	background: url("../image/ico14.gif") no-repeat center;
}
.Sequence .li_03 a {
	background: url("../image/SequenceBg1.gif") repeat-x top; padding: 0px 16px 0px 28px; border: 1px solid rgb(225, 225, 225); border-image: none; height: 23px; line-height: 22px; overflow: hidden; margin-right: 4px; float: left; display: block;
}
.Sequence .li_03 .aNow {
	background: rgb(255, 255, 255); border: 1px solid rgb(125, 64, 193); border-image: none; color: rgb(125, 64, 193); font-weight: bold;
}
.Sequence .li_03 .a1 {
	background: url("../image/ico12.gif") no-repeat 10px;
}
.Sequence .li_03 .a2 {
	background: url("../image/ico13.gif") no-repeat 10px;
}
.Sequence .li_03 .a1.aNow {
	background: url("../image/ico12Hover.gif") no-repeat 10px;
}
.Sequence .li_03 .a2.aNow {
	background: url("../image/ico13Hover.gif") no-repeat 10px;
}
.Sequence .tab1 {
	background: url("../image/SequenceTab.gif") no-repeat left top; height: 30px; overflow: hidden; padding-left: 1px; position: relative;
}
.Sequence .tab1 li {
	background: url("../image/tabBg6.gif") repeat-x top; width: 117px; height: 28px; text-align: center; line-height: 28px; overflow: hidden; border-top-color: rgb(225, 225, 225); border-right-color: rgb(225, 225, 225); border-top-width: 1px; border-right-width: 1px; border-top-style: solid; border-right-style: solid; float: left; position: relative; cursor: pointer;
}
.Sequence .tab1 .liNow {
	background: rgb(255, 255, 255); border: 1px solid rgb(125, 64, 193); border-image: none; left: -1px; height: 29px; color: rgb(125, 64, 193); font-size: 13px; font-weight: bold;
}
.Sequence .tab1 .liNow a {
	color: rgb(125, 64, 193);
}
.classPriceInput {
	background: url("../image/classPriceInput.png") no-repeat left top; width: 136px; height: 83px; overflow: hidden; display: none; position: absolute; z-index: 20;
}
.classPriceInput .formDiv {
	padding: 12px 0px 0px 12px;
}
.classPriceInput li {
	height: 30px; overflow: hidden;
}
.classPriceInput .input1 {
	padding: 0px; border: 1px solid rgb(225, 225, 225); border-image: none; width: 46px; height: 24px; text-align: center; line-height: 24px; float: left;
}
.classPriceInput li span {
	width: 14px; height: 24px; text-align: center; line-height: 24px; overflow: hidden; float: left; display: block;
}
.classPriceInput .btn1 {
	background: url("../image/btn4.gif") repeat-x top; border: 1px solid rgb(61, 126, 216); border-image: none; width: 48px; height: 24px; color: rgb(255, 255, 255); margin-left: 62px; float: left;
}
.classList li {
	background: url("../image/line1.gif") repeat-x left bottom; padding: 0px 10px; width: 202px; height: 372px; overflow: hidden; float: left; position: relative;
}
.classList .imgDiv {
	height: 205px; text-align: center; overflow: hidden; padding-top: 40px;
}
.classList .name {
	line-height: 18px;
}
.classList .price {
	padding: 5px 0px 7px; font-size: 17px;
}
.classList .btn {
	background: rgb(255, 153, 51); width: 90px; height: 23px; text-align: center; color: rgb(255, 255, 255); line-height: 23px; overflow: hidden; font-weight: bold; display: block;
}
.classList .joingwc {
	background: url("../image/joingwc.jpg") #1e99db no-repeat left top; padding-left:36px; width: 70px; height: 23px; color: rgb(255, 255, 255); line-height: 23px; overflow: hidden; font-weight: bold; display: block;
}
.classList .btn1 {
	background: rgb(127, 198, 0);
}
.classList .btn2 {
	background: url("../image/SequenceBg1.gif") repeat-x top; border: 1px solid rgb(225, 225, 225); border-image: none; width: 84px; color: rgb(51, 51, 51); font-weight: 100;
}
.classList .ico {
	top: 40px; right: 16px; position: absolute; z-index: 10;
}
.classList .msg {
	padding: 5px 0px 10px;
}
.classList .msg2 {
	color: rgb(153, 153, 153);
}
.classList2 li {
	height: 342px;
}
.classList2 .imgDiv {
	padding-top: 25px;
}
.classList3 {
	padding-top: 10px;
}
.classList3 li {
	background: url("../image/line1.gif") repeat-x left bottom; width: 758px; height: 151px; overflow: hidden; padding-left: 130px; float: left; position: relative;
}
.classList3 .imgDiv {
	left: 5px; top: 5px; position: absolute; z-index: 1;
}
.classList3 .name {
	padding: 22px 0px 5px;
}
.classList3 .btnDiv {
	top: 25px; width: 108px; right: 12px; position: absolute; z-index: 1;
}
.classList3 .btnDiv a {
	text-align: center; margin-bottom: 6px; display: block;
}
.classList3 .btnDiv .a1 {
	background: rgb(127, 198, 0); width: 108px; height: 23px; text-align: center; color: rgb(255, 255, 255); line-height: 23px; overflow: hidden; font-weight: bold;
}
.classList3 .btnDiv .a2 {
	background: url("../image/btn2.gif") repeat-x top; width: 108px; height: 23px; text-align: center; color: rgb(255, 255, 255); line-height: 23px; overflow: hidden; font-weight: bold;
}
.classList3 .btnDiv .ContrastA {
	margin: 0px auto;
}
.classList3 .notice {
	padding-bottom: 8px;
}
.classList3 .price {
	top: 25px; right: 140px; font-size: 17px; font-weight: bold; white-space: nowrap; position: absolute; z-index: 10;
}
.classList3 .ico {
	left: 70px; top: 5px; position: absolute; z-index: 10;
}
.classList4 li {
	padding: 0px 1px; width: 220px;
}
.classList4 .pself {
	height: 302px;
}
.classList4 .imgDiv {
	height: 230px; padding-top: 20px;
}
.classList4 .price {
	padding-left: 10px;
}
.classList4 .name {
	padding-left: 10px; min-height: 2.7em;
}
.classList5 .name {
	padding-left: 10px; min-height: 1.5em;
}
.classList4 .btn {
	margin-left: 10px;
}
.classList4 .ContrastA {
	margin-right: 10px; display: block;
}
.classList4 .ico {
	top: 20px; right: 1px;
}
.pageSearch {
	padding: 7px 0px 0px 280px; height: 40px; overflow: hidden; margin-bottom: 78px;
}
.pageSearch .input1 {
	padding: 0px; border: 1px solid #1e99dc; border-image: none; width: 457px; height: 32px; color: rgb(102, 102, 102); line-height: 32px; float: left;
}
.pageSearch .btn1 {
	background: url("../image/btn3.gif"); border: none; border-image: none; width: 81px; height: 34px; float: left; cursor: pointer;
}
.ContrastLayer {
	background: url("../image/ContrastLayer.png") no-repeat top; width: 100%; height: 179px; bottom: 35px; overflow: hidden; display: none; position: fixed; z-index: 50; _position: absolute;
}
.ContrastLayer .wal {
	width: 1100px; padding-top: 7px;
}
.ContrastLayer .tab {
	height: 34px; overflow: hidden; padding-left: 1px; position: relative; z-index: 55;
}
.ContrastLayer .tab li {
	width: 106px; height: 30px; text-align: center; color: rgb(102, 102, 102); line-height: 30px; overflow: hidden; padding-top: 2px; font-size: 14px; font-weight: bold; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; float: left; cursor: pointer;
}
.ContrastLayer .tab .liNow {
	background: rgb(255, 255, 255); border-width: 2px 2px 0px; border-style: solid solid none; border-color: rgb(61, 126, 216); padding: 0px; border-image: none; left: -1px; width: 103px; height: 32px; color: rgb(61, 126, 216); position: relative;
}
.ContrastLayer .tabContentDiv {
	background: rgb(255, 255, 255); border: 2px solid rgb(61, 126, 216); border-image: none; top: -2px; height: 136px; overflow: hidden; position: relative;
}
.ContrastLayer .tabContent {
	height: 107px; overflow: hidden; padding-top: 15px; position: relative;
}
.ContrastLayer .ContrastA {
	top: -2px; margin-left: 10px; float: left; display: block; position: relative;
}
.ContrastLayer .list li {
	padding: 0px 20px 0px 84px; width: 127px; height: 107px; overflow: hidden; border-right-color: rgb(214, 214, 214); border-right-width: 1px; border-right-style: dotted; float: left; position: relative;
}
.ContrastLayer .list .imgDiv {
	background: rgb(233, 233, 233); border: 1px solid rgb(204, 204, 204); border-image: none; left: 20px; top: 25px; width: 54px; height: 54px; text-align: center; color: rgb(255, 255, 255); line-height: 54px; overflow: hidden; font-size: 40px; font-weight: bold; position: absolute; z-index: 55;
}
.ContrastLayer .list .name {
	padding: 22px 0px 6px; line-height: 18px;
}
.ContrastLayer .list .btnDiv {
	top: 43px; width: 106px; text-align: center; right: 31px; overflow: hidden; position: absolute; z-index: 55;
}
.ContrastLayer .list .a1 {
	background: url("../image/btn5.gif") repeat-x top; border: 1px solid rgb(61, 126, 216); border-image: none; height: 27px; color: rgb(255, 255, 255); line-height: 27px; margin-bottom: 8px; display: block;
}
.ContrastLayer .list h5 {
	color: rgb(153, 153, 153); padding-top: 25px;
}
.ContrastLayer .list1 li {
	width: 169px;
}
.sideConsulting {
	width: 201px; height: 77px; overflow: hidden; display: block;
}
.sidePanicBuying {
	margin: 0px auto; padding: 30px 0px 20px; width: 165px; overflow: hidden;
}
.sidePanicBuying .imgDiv {
	height: 192px; overflow: hidden;
}
.sidePanicBuying .name {
	line-height: 18px;
}
.sidePanicBuying .price {
	padding: 5px 0px 10px; color: rgb(102, 102, 102);
}
.sidePanicBuying .price b {
	padding-right: 6px; font-size: 17px;
}
.sidePanicBuying .price span {
	text-decoration: line-through;
}
.sidePanicBuying .btn a {
	background: url("../image/btn2.gif") repeat-x top; width: 108px; height: 26px; text-align: center; color: rgb(255, 255, 255); line-height: 26px; overflow: hidden; font-size: 14px; display: block;
}
.classSearch .list .aNo {
	left: 85px; top: 10px; position: absolute; z-index: 1;
}
.Sequence .li_02 .a4 {
	background: url("../image/ico11Hover12.gif") no-repeat center;
}
.Sequence .li_02 .a3 {
	background: url("../image/ico11Hover1.gif") no-repeat center;
}
.sidePanicBuying1 {
	margin: 0px auto; padding: 15px 0px; width: 172px;
}
.sidePanicBuying1 .imgDiv {
	border: 1px solid rgb(225, 225, 225); border-image: none; width: 170px; height: 170px; overflow: hidden; margin-bottom: 8px;
}
.sidePanicBuying1 .div0 {
	height: 26px; color: rgb(153, 153, 153); overflow: hidden;
}
.sidePanicBuying1 .div0 img {
	padding-left: 5px; position: relative;
}
.sidePanicBuying1 .btn {
	margin: 0px auto; width: 108px; overflow: hidden;
}
.classRecommend {
	margin-bottom: 15px; border-top-color:#e87717; border-top-width: 2px; border-top-style: solid; min-height: 165px; _height: 165px;
}
.classRecommend .sideTitle {
	color:#e87717;
}
.classRecommend li {
	padding: 0px 0px 0px 130px; width: 165px; height: 134px; overflow: hidden; float: left; position: relative;
}
.classRecommend .imgDiv {
	left: 6px; top: 6px; position: absolute; z-index: 10;
}
.classRecommend .name {
	padding: 25px 0px 0px; height: 32px; line-height: 16px; overflow: hidden;
}
.classRecommend .price {
	padding: 6px 0px;
}
.classRecommend .price b {
	font-family: Arial; font-size: 20px;
}
.classRecommend .btn {
	background: url("../image/btn2.gif") repeat-x top; width: 108px; height: 26px; text-align: center; color: rgb(255, 255, 255); line-height: 26px; overflow: hidden; font-size: 14px; font-weight: bold; display: block;
}
.Consulting {
	margin-bottom: 15px; border-top-color: rgb(102, 102, 102); border-top-width: 2px; border-top-style: solid; min-height: 165px; _height: 165px;
}
.Consulting .sideTitle {
	color: rgb(102, 102, 102); padding-left: 28px;
}
.commentPart2 {
	padding: 0px 28px; min-height: 100px; _height: 100px;
}
.commentPart2 li {
	padding: 22px 0px 22px 75px; position: relative; min-height: 90px; _height: 90px;
}
.commentPart2 .touxiang {
	left: 0px; top: 22px; width: 56px; text-align: center; color: rgb(153, 153, 153); overflow: hidden; position: absolute; z-index: 10;
}
.commentPart2 .touxiang .imgDiv {
	border: 1px solid rgb(204, 204, 204); border-image: none; margin-bottom: 6px;
}
.commentPart2 .touxiangMsg {
	background: url("../image/commentLayer2.png") no-repeat right top; left: 50px; top: 18px; width: 332px; height: 89px; overflow: hidden; display: none; position: absolute; z-index: 100;
}
.commentPart2 .touxiangMsg .fl {
	padding: 25px 0px 0px 40px;
}
.commentPart2 .touxiangMsg .fr {
	width: 225px; line-height: 24px; overflow: hidden; padding-top: 8px;
}
.commentPart2 .touxiangMsg span {
	color: rgb(153, 153, 153);
}
.commentPart2 .time {
	top: 22px; right: 0px; color: rgb(153, 153, 153); white-space: nowrap; position: absolute; z-index: 10;
}
.commentPart2 .content {
	padding: 8px 0px; line-height: 20px; min-height: 30px; _height: 30px;
}
.commentPart2 .btn {
	background: url("../image/commentIco1.gif") no-repeat left top; height: 16px; right: 0px; bottom: 10px; color: rgb(61, 126, 216); line-height: 16px; overflow: hidden; padding-left: 21px; display: block; position: absolute; z-index: 10;
}
.commentPart2 .Answer {
	background: url("../image/Answer.gif") no-repeat left top rgb(255, 252, 226); padding: 15px 10px 0px 30px;
}
.commentPart2 .Answer h5 {
	color: rgb(255, 147, 54);
}
.commentPart2 .Answer .content {
	padding: 4px 0px; color: rgb(102, 102, 102);
}
.commentPart2 .Ask .content {
	padding: 4px 0px; color: rgb(102, 102, 102);
}
.commentPart2 .Answer .time1 {
	text-align: right; color: rgb(153, 153, 153); padding-bottom: 10px;
}
.commentPart2 .Ask .time1 {
	text-align: right; color: rgb(153, 153, 153); padding-bottom: 10px;
}
.commentPart2 .Answer a {
	color: rgb(61, 126, 216);
}
.commentPart2 .Ask a {
	color: rgb(61, 126, 216);
}
.commentPart2 dl {
	height: 27px; line-height: 22px; overflow: hidden; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.commentPart2 dt {
	font-weight: bold; float: left;
}
.commentPart2 dd {
	padding: 1px 0px 0px 5px; width: 115px; float: left;
}
.consultingDiv1 {
	padding: 0px 26px 0px 12px; height: 52px; color: rgb(102, 102, 102); line-height: 52px; overflow: hidden; border-top-color: rgb(225, 225, 225); border-top-width: 1px; border-top-style: solid;
}
.consultingDiv1 a {
	color: rgb(61, 126, 216);
}
.consultingDiv1 span {
	padding-right: 5px; float: left;
}
.consultingDiv1 .input1 {
	padding: 0px 5px; border: 1px solid rgb(225, 225, 225); border-image: none; top: 13px; width: 270px; height: 24px; color: rgb(102, 102, 102); line-height: 24px; margin-right: 4px; float: left; position: relative;
}
.consultingDiv1 .btn1 {
	background: rgb(255, 147, 54); border: 1px solid rgb(225, 225, 225); border-image: none; top: 13px; width: 50px; height: 24px; color: rgb(255, 255, 255); float: left; position: relative;
}
.consultingList {
	width: 888px; overflow: hidden;
}
.consultingList ul {
	width: 120%;
}
.consultingList li {
	background: url("../image/lico5.png") no-repeat 29px; width: 400px; height: 52px; line-height: 52px; overflow: hidden; padding-left: 44px; border-top-color: rgb(225, 225, 225); border-top-width: 1px; border-top-style: solid; float: left;
}
.showPart3 {
	width: 888px; overflow: hidden; padding-bottom: 30px; position: relative;
}
.showPart3 .title {
	background: rgb(0, 0, 0); margin: 15px 0px; padding: 0px 10px; height: 30px; color: rgb(255, 255, 255); line-height: 30px; font-size: 18px;
}
.Related4 {
	border-width: 2px 1px 1px; border-style: solid; border-color: rgb(131, 131, 131) rgb(225, 225, 225) rgb(225, 225, 225); border-image: none; height: 250px; overflow: hidden; position: relative;
}
.Related4 h2 {
	height: 30px; line-height: 30px; overflow: hidden; padding-left: 10px; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: solid;
}
.Related4 .leftBtn {
	background: rgb(238, 238, 238); top: 6px; width: 17px; height: 17px; text-align: center; right: 29px; color: rgb(255, 255, 255); line-height: 17px; overflow: hidden; font-family: "????"; font-weight: bold; display: block; position: absolute; z-index: 10;
}
.Related4 .rightBtn {
	background: rgb(238, 238, 238); top: 6px; width: 17px; height: 17px; text-align: center; right: 29px; color: rgb(255, 255, 255); line-height: 17px; overflow: hidden; font-family: "????"; font-weight: bold; display: block; position: absolute; z-index: 10;
}
.Related4 .rightBtn {
	right: 7px;
}
.Related4 .leftBtn:hover {
	color: rgb(255, 147, 54);
}
.Related4 .rightBtn:hover {
	color: rgb(255, 147, 54);
}
.Related4 .list {
	margin: 0px auto; width: 876px; overflow: hidden; padding-top: 15px; position: relative;
}
.Related4 ul {
	width: 2000%;
}
.Related4 li {
	padding: 0px 5px; width: 209px; text-align: center; overflow: hidden; float: left;
}
.Related4 .name {
	padding: 5px 10px;
}
.commentForm {
	padding: 10px; border: 1px solid rgb(225, 225, 225); border-image: none; margin-bottom: 15px;
}
.commentForm .tab2 {
	height: 28px; border-left-color: rgb(225, 225, 225); border-left-width: 1px; border-left-style: solid; position: relative; z-index: 2;
}
.commentForm .tab2 li {
	background: rgb(246, 246, 246); border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(225, 225, 225); border-image: none; width: 101px; height: 26px; text-align: center; line-height: 26px; overflow: hidden; font-weight: bold; float: left;
}
.commentForm .tab2 .liNow {
	background: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.commentForm .tabContentDiv2 {
	padding: 15px 10px; top: -1px; border-top-color: rgb(225, 225, 225); border-top-width: 1px; border-top-style: solid; position: relative; z-index: 1;
}
.commentForm h5 {
	padding: 12px 0px 8px; color: rgb(153, 153, 153);
}
.commentForm textarea {
	padding: 5px; border: 1px solid rgb(225, 225, 225); border-image: none; width: 98%; height: 132px; color: rgb(153, 153, 153); font-size: 12px;
}
.commentForm .btn {
	text-align: center; padding-top: 10px;
}
.commentForm .btn1 {
	background: url("../image/btn5.gif") repeat-x top; border: 0px currentColor; border-image: none; width: 124px; height: 28px; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold;
}
.commentForm dl {
	height: 20px; overflow: hidden; padding-top: 12px;
}
.commentForm dt {
	color: rgb(153, 153, 153); font-weight: bold; float: left;
}
.commentForm dd {
	padding: 0px 50px 0px 6px; float: left;
}
